
:root {
  /* ========================= */
  /*        BASE COLORS        */
  /* ========================= */
  --color-base-light: #FFFFFF;
  --color-base-light-alt: #F3F9FF;
  --color-base-item-overlay: rgba(0, 0, 0, 0.5);
  --color-base-hr-break: rgba(0, 0, 0, 0.04);
  --color-base-item-bg-1: #C2E4F6;
  --color-base-item-bg-2: #F2DFD5;
  --color-base-item-bg-3: #F7EDDB;
  --color-base-item-bg-4: #D2E9FB;

  /* ========================= */
  /*        TEXT COLORS        */
  /* ========================= */
  --color-text-dark: #000000;
  --color-text-light: #FFFFFF;
  --color-text-alt: rgba(0, 0, 0, 0.85);
  --color-text-highlight: #0092D0;

  /* ========================= */
  /*      BUTTON COLORS        */
  /* ========================= */
  --color-btn-bg-default: #0092D0;
  --color-btn-text-light: #FFFFFF;
  --color-btn-text-dark: #000000;
  --color-btn-bg-hover: #077DAD;
  --color-btn-bg-focused: #33C2FF;
  --color-btn-border-focused: #0092D0;
  --color-btn-text-disabled: rgba(0, 0, 0, 0.25);
  --color-btn-bg-pressed: #0063B3;
  --color-btn-bg-disabled: rgba(0, 0, 0, 0.04);
  --color-btn-border-disabled: rgba(0, 0, 0, 0.015);
  --color-btn-border-ghost-default: rgba(0, 0, 0, 0.015);
  --color-btn-border-ghost-hover: #077DAD;
  --color-btn-border-ghost-pressed: #0063B3;
  --color-btn-text-ghost-hover: #077DAD;
  --color-btn-text-ghost-focused: #33C2FF;
  --color-btn-text-ghost-pressed: #0063B3;
  --color-btn-bg-alt: #FFFFFF;
  --color-btn-text-alt: #000000;
  --color-btn-text-clear: #0092D0;
  --color-btn-border-clear-focused: #33C2FF;
  --color-btn-border-pressed: #0063B3;

  /* ========================= */
  /*      BORDERS         */
  /* ========================= */
  --border-radius-xxxl: 48px;
  --border-radius-xxl: 40px;
  --border-radius-xl: 32px;
  --border-radius-lg: 24px;
  --border-radius-md: 20px;
  --border-radius-base: 16px;
  --border-radius-sm: 12px;
  --border-radius-xs: 8px;
  --border-radius-xxs: 4px;
  --border-radius-xxxs: 2px;
  --border-radius-button: 8px;

  /* ========================= */
  /*      ARROW COLORS         */
  /* ========================= */
  --color-arrow-active: #535353;
  --color-arrow-hover: #33C2FF;
  --color-arrow-disabled: rgba(0, 0, 0, 0.15);
  --color-arrow-border-disabled: rgba(0, 0, 0, 0.15);
  --color-arrow-bg-light: #FFFFFF;

  /* ========================= */
  /*       TABS COLORS         */
  /* ========================= */
  --color-tabs-bg-active: #E84F0E;
  --color-tabs-text-dark: #000000;
  --color-tabs-text-light: #FFFFFF;

  /* ========================= */
  /*    PAGINATION COLORS      */
  /* ========================= */
  --color-pagination-bg-active: #077DAD;
  --color-pagination-bg-default: rgba(51, 194, 255, 0.3);
  --color-pagination-bg-hover: #33C2FF;

  /* ========================= */
  /*     BRAND COLORS          */
  /* ========================= */
  --color-brand-pacific-blue: #0093D0;
  --color-brand-logo-text: #0093D0;
  --color-brand-mark-1: #EE762D;
  --color-brand-mark-2: #FDCE86;
  --color-brand-mark-3: #FAB60D;
  --color-brand-mark-4: #E84E0F;
  --color-brand-mark-5: #78ABDC;
  --color-brand-mark-6: #0077B1;

  /* ========================= */
  /*     HEADER COLORS         */
  /* ========================= */
  --color-header-text: #B2B2B2;
  --color-header-icon: #535353;
  --color-header-border: #D9D9D9;
  --color-header-item-bg: rgba(0, 0, 0, 0);
  --color-header-bg-elevation-level-1: #F3F9FF;
  --color-header-bg-elevation-level-2: #FFFFFF;
  --color-header-bg-elevation-level-3: #FFFFFF;
  --color-header-bg-elevation-level-4: #F2F2F2;
  --color-header-bg-elevation-level-5: #FFFFFF;
  --color-header-form-icon-light: #FFFFFF;
  --color-header-form-checkbox-border: #D9D9D9;
  --color-header-tabs-accent: #0092D0;
  --color-toggler-bg: #BFBFBF;
  --color-toggler-main: #FFFFFF;
  --color-header-range-bg: #F5F5F5;
  --color-header-range-border-pressed: #007DB1;
  --color-header-text-disabled: #B2B2B2;
  --color-header-bg-accent: #FEF7E6;
  --color-header-bg-accent-alt: #E6F4FF;
  --color-header-icon-accent: #F9B515;
  --color-header-bg-selected: #E6F4FF;
  --color-header-bg-regular: #FCDF9C;
  --color-header-bg-charter: #D9F7BE;
  --color-header-bg-charter-alt: #006B99;

  /* ========================= */
  /*     FONT CONFIGURATION    */
  /* ========================= */
  --font-family: "Manrope", sans-serif;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;

  /* ========================= */
  /*     BOX SHADOWS           */
  /* ========================= */
  --box-shadow-item: 0px 10px 20px rgba(0, 0, 0, 0.1);

  /* ========================= */
  /*        PADDINGS           */
  /* ========================= */
  --padding-xxxl: 48px;
  --padding-xxl: 40px;
  --padding-xl: 32px;
  --padding-lg: 24px;
  --padding-md: 20px;
  --padding-base: 16px;
  --padding-sm: 12px;
  --padding-xs: 8px;
  --padding-xxs: 4px;
  --padding-xxxs: 2px;

  /* ========================= */
  /*         MARGINS           */
  /* ========================= */
  --margin-xxxl: 48px;
  --margin-xxl: 40px;
  --margin-xl: 32px;
  --margin-lg: 24px;
  --margin-md: 20px;
  --margin-base: 16px;
  --margin-sm: 12px;
  --margin-xs: 8px;
  --margin-xxs: 4px;
  --margin-xxxs: 2px;

  /* ========================= */
  /*         GRID SIZES        */
  /* ========================= */
  --grid-desktop-l: 1920px;
  --grid-desktop-s: 1280px;
  --grid-tablet-h: 1024px;
  --grid-tablet-v: 768px;
  --grid-mobile: 428px;

  --grid-desktop-l-content: 1368px;
  --grid-desktop-s-content: 1104px;
  --grid-tablet-h-content: 864px;
  --grid-tablet-v-content: 608px;
  --grid-mobile-content: 396px;

  /* ========================= */
  /*     TYPOGRAPHY TOKENS     */
  /* ========================= */
  --font-heading-1: 2.25rem;
  --line-height-heading-1: 2.75rem;

  --font-heading-2: 2rem;
  --line-height-heading-2: 2.5rem;

  --font-heading-3: 1.75rem;
  --line-height-heading-3: 2.25rem;

  --font-heading-4: 1.5rem;
  --line-height-heading-4: 2rem;

  --font-heading-5: 1.25rem;
  --line-height-heading-5: 1.75rem;

  --font-heading-6: 1.25rem;
  --line-height-heading-6: 2rem;

  --font-body: 1rem;
  --line-height-body: 1.5rem;

  --font-label: 0.75rem;
  --line-height-label: 1.25rem;

  --font-btn-500: 1rem;
  --line-height-btn-500: 1.5rem;

  --font-btn-600: 1rem;
  --line-height-btn-600: 1.5rem;

  --font-tabs-400: 1rem;
  --line-height-tabs-400: 1.5rem;

  --font-tabs-600: 1rem;
  --line-height-tabs-600: 1.5rem;

  --font-kv-title-l: 3.5rem;
  --line-height-kv-title-l: 4rem;

  --font-kv-title-m: 2.5rem;
  --line-height-kv-title-m: 3rem;

  --font-kv-title-s: 2rem;
  --line-height-kv-title-s: 2.5rem;

  --font-kv-placeholder-l: 1.5rem;
  --line-height-kv-placeholder-l: 2rem;

  --font-kv-placeholder-m: 1.25rem;
  --line-height-kv-placeholder-m: 1.75rem;

  --font-kv-subline-l: 1.25rem;
  --line-height-kv-subline-l: 1.75rem;

  --font-kv-subline-m: 1rem;
  --line-height-kv-subline-m: 1.5rem;
}

//@media (prefers-color-scheme: dark) {
//  :root {
//    --color-base-light: #24242C;
//    --color-base-light-alt: #121212;
//    --color-base-item-overlay: rgba(0, 0, 0, 0.5);
//    --color-base-hr-break: rgba(255, 255, 255, 0.1);
//    --color-base-item-bg-1: #124B78;
//    --color-base-item-bg-2: #396384;
//    --color-base-item-bg-3: #506A7E;
//    --color-base-item-bg-4: #124B78;
//
//    --color-text-dark: #FFFFFF;
//    --color-text-light: #FFFFFF;
//    --color-text-alt: rgba(255, 255, 255, 0.85);
//    --color-text-highlight: #33C2FF;
//
//    --color-btn-bg-default: #1668DC;
//    --color-btn-text-light: #FFFFFF;
//    --color-btn-text-dark: rgba(255, 255, 255, 0.85);
//    --color-btn-bg-hover: #0092D0;
//    --color-btn-bg-focused: #33C2FF;
//    --color-btn-border-focused: #1668DC;
//    --color-btn-text-disabled: rgba(255, 255, 255, 0.4);
//    --color-btn-bg-pressed: #077DAD;
//    --color-btn-bg-disabled: rgba(255, 255, 255, 0.1);
//    --color-btn-border-disabled: rgba(255, 255, 255, 0.4);
//    --color-btn-border-ghost-default: rgba(255, 255, 255, 0.85);
//    --color-btn-border-ghost-hover: #0092D0;
//    --color-btn-border-ghost-pressed: #077DAD;
//    --color-btn-text-ghost-hover: #0092D0;
//    --color-btn-text-ghost-focused: #33C2FF;
//    --color-btn-text-ghost-pressed: #077DAD;
//    --color-btn-bg-alt: #FFFFFF;
//    --color-btn-text-alt: rgba(0, 0, 0, 0.85);
//    --color-btn-text-clear: #1668DC;
//    --color-btn-border-clear-focused: #33C2FF;
//    --color-btn-border-pressed: #077DAD;
//
//    --color-arrow-active: #535353;
//    --color-arrow-hover: #33C2FF;
//    --color-arrow-disabled: rgba(255, 255, 255, 0.4);
//    --color-arrow-border-disabled: rgba(255, 255, 255, 0.4);
//    --color-arrow-bg-light: #FFFFFF;
//
//    --color-tabs-bg-active: #EE762D;
//    --color-tabs-text-dark: #FFFFFF;
//    --color-tabs-text-light: #FFFFFF;
//
//    --color-pagination-bg-active: #077DAD;
//    --color-pagination-bg-default: rgba(51, 194, 255, 0.3);
//    --color-pagination-bg-hover: #33C2FF;
//
//    --color-header-text: #B2B2B2;
//    --color-header-icon: #EFEFEF;
//    --color-header-border: #24242C;
//    --color-header-item-bg: #3A3A41;
//    --color-header-bg-elevation-level-1: #121212;
//    --color-header-bg-elevation-level-2: #24242C;
//    --color-header-bg-elevation-level-3: #363642;
//    --color-header-bg-elevation-level-4: #444454;
//    --color-header-bg-elevation-level-5: #525266;
//    --color-header-form-icon-light: #FFFFFF;
//    --color-header-form-checkbox-border: #FFFFFF;
//    --color-header-tabs-accent: #1668DC;
//    --color-toggler-bg: #1668DC;
//    --color-toggler-main: #FFFFFF;
//    --color-header-range-bg: #363642;
//    --color-header-range-border-pressed: #FFFFFF;
//    --color-header-text-disabled: #363642;
//    --color-header-bg-accent: #525266;
//    --color-header-bg-accent-alt: #444454;
//    --color-header-icon-accent: #F9B515;
//    --color-header-bg-selected: #1668DC;
//    --color-header-bg-regular: #FCDF9C;
//    --color-header-bg-charter: #D9F7BE;
//    --color-header-bg-charter-alt: #32C2FF;
//  }
//}
